
<form action="" method="POST">
    <input type="hidden" name="id" value="<%= show[0].id %>">
    <input type="time" name="Start_time" value="<%= show[0].Start_time %>"placeholder="Start_time" >
    <input type="time" name="End_time" value="<%= show[0].End_time %>"placeholder="End_time" >
    <input type="text" name="court_type" value="<%= show[0].court_type %>"placeholder="court_type" >
    <input type="text" name="court_location" value="<%= show[0].court_location %>"placeholder="court_location">
    <button type="submit">Submit</button>
</form>